<html>
    <head>
        <title>success! | dendrite-invite</title>
        <link rel="stylesheet" href="/static/pico.min.css">
    </head>
    <body>
        <main class="container">
            <h2>You have registered on <i>{{ instanceName }}</i>!</h2>
            <p>
                Your account (<code>{{ accountId }}</code>) has been created! <br>
                Awesome! You're now part of the Matrix network. <br>
                You can log into the web client at <a href="{{ clientUrl }}">{{ clientUrl }}</a>, or use another client of your choice. <br>
                Ensure the "homeserver" option is set to <code>https://{{ instanceName }}</code>. <br>
                You can also log in on a mobile device using the Element Android or iOS apps! <br>
                <hr>
                <details>
                    <summary>Additional information</summary>
                    <code>
                        Access Token: {{ accessToken }}
                    </code>
                </details>
            </p>
        </main>
    </body>
</html>